<!DOCTYPE html>
<html>
<head>
    <title>Attendance App |<%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-sidebar.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/style2.css'/>


</head>
<body>
    <%- include('navbar.ejs') %>
<div id="wrapper">
    <!-- Sidebar -->
    <%- include('menu.ejs') %><!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid xyz">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Pengajuan Lembur</h1>
                    <div id="menu1" style="overflow: auto;">
                        <form class="form-group-sm" action="/employee/apply-for-leave" method="post" id="form1">
                            <div class="form-group">
                                <label for="title">Tujuan Lembur:</label>
                                <input type="text" class="form-control" required="required" id="tujuanlembur" name="tujuanlembur" placeholder="tujuan pelaksanaan lembur">
                            </div>
                          
                            <div class="form-group">
                                <label for="start_date">Jam Mulai Lembur:</label>
                                <input type="time" class="form-control" required="required" id="jammulailembur" name="jammulailembur">
                                
                            </div>
                            <div class="form-group">
                                <label for="start_date">Jam Selesai Lembur:</label>
                                <input type="time" class="form-control" required="required" id="jamselesailembur" name="jamselesailembur">
                            </div>
                            <div class="form-group">
                                <label for="tipehari">Tipe Hari Lembur:</label>
                                                             
                                <select class="form-control" id="tipehari" name="tipehari">
                                    <option disabled selected>--Pilih Tipe Hari Lembur--</option>
                                    <option value="Hari Kerja">Hari Kerja</option>
                                    <option value="Hari Libur">Hari Libur</option>
                                    
                                </select>
                               
                            </div>
                          
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="button" onclick="history.go(-1);" class="btn btn-default">Cancel</button>
                            <button type="submit" data-toggle="modal" data-target="#myModal1" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.js" charset="UTF-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" charset="UTF-8"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#form1').on('submit', function () {
            var startDate = new Date($('#start_date').val());
            var endDate = new Date($('#end_date').val());
            if (startDate > endDate) {
                $('#error').text("    Start Date must be smaller than End Date!")
                return false;
            }
            return true;
        });
        $('#period').bind('keypress', function (e) {
            if (e.which < 48 ||
                (e.which > 57 && e.which < 65) ||
                (e.which > 90 && e.which < 97) ||
                e.which > 122) {
                e.preventDefault();
            }

        });
    });
</script>

<script src="/javascripts/sidebar_menu.js"></script>
<script>

    $(document).ready(function () {
        for (i = new Date().getFullYear(); i > 1900; i--) {
            $('#year').append($('<option />').val(i).html(i));
        }
    });
</script>
</body>
<%- include('absen.ejs') %>
</html>
